<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCHPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BCHPickerViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DBB191F1DD3000400784059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DBB19381DD3000400784059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DBB19431DD3000400784059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DE3FBBA1DD467EA0032181B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DE3FBBE1DD4680D0032181B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
